<a href="https://colab.research.google.com/github/KeiandraK/DS-Unit-1-Sprint-3-Linear-Algebra/blob/master/Keiandra_King_LS_DS_134_Clustering_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# K-Means Clustering

# 1) Use the "Breast Cancer Wisconsin (Diagnostic) Data Set" from Kaggle to try and cluster types of cancer cells. 

Here's the original dataset for your reference:

<https://www.kaggle.com/uciml/breast-cancer-wisconsin-data>

## This is a supervised learning dataset

(Because it has **labels** - The "diagnosis" column.)

In [95]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA # You don't necessarily have to use this
from sklearn.cluster import KMeans # You don't necessarily have to use this
from sklearn.preprocessing import StandardScaler # You don't necessarily have to use this

df = pd.read_csv("https://raw.githubusercontent.com/ryanleeallred/datasets/master/Cancer_Cells.csv")
print(df.shape)
df.head()

(569, 33)

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

## Now it's an unsupervised learning dataset

(Because we've removed the diagnosis label) - Use this version.

In [96]:
df = df.drop('diagnosis', axis=1)
df.head()

         id  radius_mean  ...  fractal_dimension_worst  Unnamed: 32
0    842302        17.99  ...                  0.11890          NaN
1    842517        20.57  ...                  0.08902          NaN
2  84300903        19.69  ...                  0.08758          NaN
3  84348301        11.42  ...                  0.17300          NaN
4  84358402        20.29  ...                  0.07678          NaN

[5 rows x 32 columns]

In [97]:
df.isnull().sum()

id                           0
radius_mean                  0
texture_mean                 0
perimeter_mean               0
area_mean                    0
smoothness_mean              0
compactness_mean             0
concavity_mean               0
concave points_mean          0
symmetry_mean                0
fractal_dimension_mean       0
radius_se                    0
texture_se                   0
perimeter_se                 0
area_se                      0
smoothness_se                0
compactness_se               0
concavity_se                 0
concave points_se            0
symmetry_se                  0
fractal_dimension_se         0
radius_worst                 0
texture_worst                0
perimeter_worst              0
area_worst                   0
smoothness_worst             0
compactness_worst            0
concavity_worst              0
concave points_worst         0
symmetry_worst               0
fractal_dimension_worst      0
Unnamed: 32                569
dtype: int64

In [98]:
np.any(np.isnan(df))

True

## Let's do it!

- You might want to do some data exploration to see if you can find specific columns that will help you find distinct clusters of cells
- You might want to use the elbow method to decide on the number of clusters to use.

In [99]:
# Perform K-Means Clustering on the Dataset
KMeans(df)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=           id  radius_mean  ...  fractal_dimension_worst  Unnamed: 32
0      842302       17.990  ...                  0.11890          NaN
1      842517       20.570  ...                  0.08902          NaN
2    84300903       19.690  ...                  0.08758          NaN
3    84348301       11.420  ...                  0.17300          NaN
4    84358402       20.290  ...                  0.07678          NaN
5      843786       12.450  ...                  0.12440          NaN
6      844359       18.250  ...                  0.08368          NaN
7    84458202       13.710  ...                  0.11510          NaN
8      844981       1...
560    925292       14.050  ...                  0.08321          NaN
561    925311       11.200  ...                  0.05905          NaN
562    925622       15.220  ...                  0.14090          NaN
563    926125       20.920  ...                  0.09873          NaN
564    926424       21.560  ...                  0.07115          NaN
565    926682       20.130  ...                  0.06637          NaN
566    926954       16.600  ...                  0.07820          NaN
567    927241       20.600  ...                  0.12400          NaN
568     92751        7.760  ...                  0.07039          NaN

[569 rows x 32 columns],
       n_init=10, n_jobs=None, precompute_distances='auto', random_state=None,
       tol=0.0001, verbose=0)

In [100]:
df = df.drop('fractal_dimension_worst', axis=1)
df.head()

         id  radius_mean  ...  symmetry_worst  Unnamed: 32
0    842302        17.99  ...          0.4601          NaN
1    842517        20.57  ...          0.2750          NaN
2  84300903        19.69  ...          0.3613          NaN
3  84348301        11.42  ...          0.6638          NaN
4  84358402        20.29  ...          0.2364          NaN

[5 rows x 31 columns]

In [101]:
np.any(np.isnan(df))

True

In [102]:
KMeans(df)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=           id  radius_mean  ...  symmetry_worst  Unnamed: 32
0      842302       17.990  ...          0.4601          NaN
1      842517       20.570  ...          0.2750          NaN
2    84300903       19.690  ...          0.3613          NaN
3    84348301       11.420  ...          0.6638          NaN
4    84358402       20.290  ...          0.2364          NaN
5      843786       12.450  ...          0.3985          NaN
6      844359       18.250  ...          0.3063          NaN
7    84458202       13.710  ...          0.3196          NaN
8      844981       13.000  ...          0.4378          NaN...
560    925292       14.050  ...          0.2250          NaN
561    925311       11.200  ...          0.1566          NaN
562    925622       15.220  ...          0.4089          NaN
563    926125       20.920  ...          0.2929          NaN
564    926424       21.560  ...          0.2060          NaN
565    926682       20.130  ...          0.2572          NaN
566    926954       16.600  ...          0.2218          NaN
567    927241       20.600  ...          0.4087          NaN
568     92751        7.760  ...          0.2871          NaN

[569 rows x 31 columns],
       n_init=10, n_jobs=None, precompute_distances='auto', random_state=None,
       tol=0.0001, verbose=0)

In [103]:
df = df.drop('symmetry_worst', axis=1)
df.head()

         id  radius_mean  ...  concave points_worst  Unnamed: 32
0    842302        17.99  ...                0.2654          NaN
1    842517        20.57  ...                0.1860          NaN
2  84300903        19.69  ...                0.2430          NaN
3  84348301        11.42  ...                0.2575          NaN
4  84358402        20.29  ...                0.1625          NaN

[5 rows x 30 columns]

In [104]:
np.any(np.isnan(df))

True

In [105]:
KMeans(df)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=           id  radius_mean  ...  concave points_worst  Unnamed: 32
0      842302       17.990  ...               0.26540          NaN
1      842517       20.570  ...               0.18600          NaN
2    84300903       19.690  ...               0.24300          NaN
3    84348301       11.420  ...               0.25750          NaN
4    84358402       20.290  ...               0.16250          NaN
5      843786       12.450  ...               0.17410          NaN
6      844359       18.250  ...               0.19320          NaN
7    84458202       13.710  ...               0.15560          NaN
8      844981       13.00...
560    925292       14.050  ...               0.10480          NaN
561    925311       11.200  ...               0.00000          NaN
562    925622       15.220  ...               0.23560          NaN
563    926125       20.920  ...               0.25420          NaN
564    926424       21.560  ...               0.22160          NaN
565    926682       20.130  ...               0.16280          NaN
566    926954       16.600  ...               0.14180          NaN
567    927241       20.600  ...               0.26500          NaN
568     92751        7.760  ...               0.00000          NaN

[569 rows x 30 columns],
       n_init=10, n_jobs=None, precompute_distances='auto', random_state=None,
       tol=0.0001, verbose=0)

In [106]:
df = df.drop('concave points_worst', axis=1)
df.head()

         id  radius_mean  ...  concavity_worst  Unnamed: 32
0    842302        17.99  ...           0.7119          NaN
1    842517        20.57  ...           0.2416          NaN
2  84300903        19.69  ...           0.4504          NaN
3  84348301        11.42  ...           0.6869          NaN
4  84358402        20.29  ...           0.4000          NaN

[5 rows x 29 columns]

In [107]:
KMeans(df)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=           id  radius_mean  ...  concavity_worst  Unnamed: 32
0      842302       17.990  ...          0.71190          NaN
1      842517       20.570  ...          0.24160          NaN
2    84300903       19.690  ...          0.45040          NaN
3    84348301       11.420  ...          0.68690          NaN
4    84358402       20.290  ...          0.40000          NaN
5      843786       12.450  ...          0.53550          NaN
6      844359       18.250  ...          0.37840          NaN
7    84458202       13.710  ...          0.26780          NaN
8      844981       13.000  ......
560    925292       14.050  ...          0.13260          NaN
561    925311       11.200  ...          0.00000          NaN
562    925622       15.220  ...          1.17000          NaN
563    926125       20.920  ...          0.65990          NaN
564    926424       21.560  ...          0.41070          NaN
565    926682       20.130  ...          0.32150          NaN
566    926954       16.600  ...          0.34030          NaN
567    927241       20.600  ...          0.93870          NaN
568     92751        7.760  ...          0.00000          NaN

[569 rows x 29 columns],
       n_init=10, n_jobs=None, precompute_distances='auto', random_state=None,
       tol=0.0001, verbose=0)

In [108]:
df=df.dropna(how='all')
df.head()

         id  radius_mean  ...  concavity_worst  Unnamed: 32
0    842302        17.99  ...           0.7119          NaN
1    842517        20.57  ...           0.2416          NaN
2  84300903        19.69  ...           0.4504          NaN
3  84348301        11.42  ...           0.6869          NaN
4  84358402        20.29  ...           0.4000          NaN

[5 rows x 29 columns]

In [109]:
df = df.drop('Unnamed: 32', axis=1)
df.head()

         id  radius_mean  ...  compactness_worst  concavity_worst
0    842302        17.99  ...             0.6656           0.7119
1    842517        20.57  ...             0.1866           0.2416
2  84300903        19.69  ...             0.4245           0.4504
3  84348301        11.42  ...             0.8663           0.6869
4  84358402        20.29  ...             0.2050           0.4000

[5 rows x 28 columns]

In [110]:
df = df.copy()
print(df.shape)
df.head()

(569, 28)

         id  radius_mean  ...  compactness_worst  concavity_worst
0    842302        17.99  ...             0.6656           0.7119
1    842517        20.57  ...             0.1866           0.2416
2  84300903        19.69  ...             0.4245           0.4504
3  84348301        11.42  ...             0.8663           0.6869
4  84358402        20.29  ...             0.2050           0.4000

[5 rows x 28 columns]

In [111]:
# I realized after blindly doing dropping NaNs the long way that there were 
# other options! Trust I know better now whew!
np.any(np.isnan(df))

False

In [0]:
standardized_df = StandardScaler().fit_transform(df)

In [0]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

stuff = []
 
for i in range(1, 21):
  num_clusters = KMeans(n_clusters = i)
  num_clusters = num_clusters.fit(df)
  stuff.append(num_clusters.inertia_)

## Check you work: 

This is something that in a truly unsupervised learning situation **WOULD NOT BE POSSIBLE**. But for educational purposes go back and grab the true diagnosis column (label) from the original dataset. Take your cluster labels and compare them to the original diagnosis column. You can make scatterplots for each to see how they compare or you can calculate a percent accuracy score like: 
\begin{align}
\frac{\text{Num Correct Labels}}{\text{Num Total Observations}}
\end{align}

In [0]:
# Your Code Here

# 2) Perform PCA on your dataset first and *then* use k-means clustering. 

- You need to standardize your data before PCA.
- First try clustering just on PC1 and PC2 so that you can make a scatterplot of your clustering.
- Then use use a scree plot to decide how many principal components to include in your clustering, and use however many principal components you need in order to retain 90% of the variation of the original dataset

In [0]:
standardized_df= StandardScaler().fit_transform(df)

In [0]:
pca.fit(standardized_df)
pca_df = pca.transform(standardized_df)

In [117]:
df = df.copy()
print(df.shape)
df.head()

(569, 28)

         id  radius_mean  ...  compactness_worst  concavity_worst
0    842302        17.99  ...             0.6656           0.7119
1    842517        20.57  ...             0.1866           0.2416
2  84300903        19.69  ...             0.4245           0.4504
3  84348301        11.42  ...             0.8663           0.6869
4  84358402        20.29  ...             0.2050           0.4000

[5 rows x 28 columns]

In [118]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df = scaler.fit_transform(df)
df

array([[-0.23640517,  1.09706398, -2.07333501, ...,  1.30768627,
         2.61666502,  2.10952635],
       [-0.23640344,  1.82982061, -0.35363241, ..., -0.37561196,
        -0.43044422, -0.14674897],
       [ 0.43174109,  1.57988811,  0.45618695, ...,  0.52740741,
         1.08293217,  0.85497394],
       ...,
       [-0.23572747,  0.70228425,  2.0455738 , ..., -0.80958728,
         0.35073535,  0.3267666 ],
       [-0.23572517,  1.83834103,  2.33645719, ...,  1.43042677,
         3.90484795,  3.19760468],
       [-0.24240586, -1.80840125,  1.22179204, ..., -1.85901852,
        -1.2075525 , -1.30583065]])

In [0]:
pca = PCA(2)
pca_features = pca.fit_transform(df)

In [125]:
import matplotlib.pyplot as plt
plt.scatter(pca_df[:,0], pca_df[:,1]);

IndexError: ignored

## Check your work: 

- Compare your PC1, PC2 clustering scatterplot to the clustering scatterplots you made on the raw data
- Calculate accuracy scores for both the PC1,PC2 Principal component clustering and the 90% of explained variance clustering.

How do your accuracy scores -when preprocessing the data with PCA- compare to the accuracy when simply clustering on the raw data?

# Stretch Goals:

- Study for the Sprint Challenge
- Work on your Data Storytelling Project